.idea/
.vscode/
__pycache__/

*.DS_Store

# log
log/

# data
kontaktdaten.json
zeitspanne.json

#building: 
installer/

# pyinstaller 
# temporary building files:
build/    
dist/

# local chromium
/tools/local-chromium/
